# checkpoint, cache directory
# jupyter checkpoint files
*.ipynb_checkpoints
# python cache files
__pycache__

# web 
instance
company_keywords
Word2vec

# Model
*.h5
bert_ckpt
gpt_ckpt

# Database
*.sqlite

# backup directory
*backup

# vscode setting foloder
*.vscode