{% extends 'layout.html' %}

{% block content %}
<style type="text/css" >
    .wrap-loading div{ /*로딩 이미지*/
        position: fixed;
        top:50%;
        left:50%;
        margin-left: -21px;
        margin-top: -21px;
    }
    .display-none{ /*감추기*/
        display:none;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" style="margin-left:50px;">
            <br><br>
            <h3><b>{{CompanyInfo.Name}} 기업 정보</b></h3><br>
            <br>
            <div class="row"  style="display:flex;">
                <div class="col-6">
                    <h4>📗회사 인재상</h4>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                        {% for image in CompanyInfo.ImageQ %}
                            <button type="button" style="margin:2px" class="btn btn-outline-success" style="display: inline-block">{{image}}</button>
                        {% endfor %}
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <h4>📘회사 핵심가치</h4>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                        {% for value in CompanyInfo.Cvalue %}
                            <button type="button" style="margin:2px" class="btn btn-outline-primary" style="display: inline-block">{{value}}</button>
                        {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
            <hr width = "100%"><br>
            
            <h2><strong>자소서를 입력해주세요</strong></h2>
            <form class="form-horizontal" method="post" action="/write">
                <fieldset>
                    <!-- <h5>자소서 제목: {{title}}</h5> -->
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12" for="question">Questions</label>
                        <div class="col-md-12">
                            <input id="question" name="question" type="text" placeholder="질문을 입력해주세요." class="form-control input-md", autofocus required><!--required : 공백입력시 경고-->
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-12" for="content">Contents</label>
                        <div class="col-md-12">
                            <textarea class="form-control" id="content" name="content" placeholder="질문에 맞는 내용을 입력해주세요." style="height:260px;" required></textarea>
                        </div>
                    </div>

                    <ul class="list-group list-group-horizontal" >
                        <li style="display:none" id = "awkresult">어색한 문장 결과</li>
                        <li style="display:none" class="list-group-item" id="result"></li>
                    </ul>

                    <!-- Button 1 작성 완료하기 -->
                    <div class="form-group" style="float: right;">
                        <label class="col-md-12 control-label" for="finishbutton"></label>
                        <div class="col-md-12">
                            <input id="finishbutton" name="finishbutton" class="btn btn-dark" type="submit" value="작성 완료하기" onclick="location.href='{{ url_for('jasosul.jasoContent', ClusterId=ClusterId, title=title, username=username) }}'">
                        </div>
                    </div>

                    <!-- Button 2 계속 질문 추가하기-->
                    <div class="form-group" style="float: right;">
                        <label class="col-md-12 control-label" for="continuebutton"></label>
                        <div class="col-md-12">
                            <input id="continuebutton" name="continuebutton" class="btn btn-info" type="button" value="계속하기" onclick="saveSubContent({{ClusterId}})">
                        </div>
                    </div>

                    <!-- Button 3 어색한 문장 찾기 -->
                    <div class="form-group" style="float: right;">
                        <label class="col-md-12 control-label" for="ackwardbutton"></label>
                        <div class="col-md-12">
                            <input id="ackwardbutton" name="ackwardbutton" class="btn btn-danger" type="button" value="어색한 문장" onclick="sendContent()">
                        </div>
                    </div>

                    <!-- Button 4 어색한 문장 하이라이트 해제 -->
                    <div class="form-group" style="float: right;">
                        <label class="col-md-12 control-label" for="noackwardbutton"></label>
                        <div class="col-md-12">
                            <input id="noackwardbutton" name="noackwardbutton" class="btn btn-secondary" type="button" value="어색한 문장 안보이게" >
                        </div>
                    </div>


                </fieldset>
            </form>
            
            <br>
            <hr width = "100%"><br>
            
            <label class="col-md-12" for="DragPlace">선택한 문장(드래그해서 문장 선택) </label>
            <input id="DragTEXT" name="DragTEXT" type="text" style="display: inline-block" class="form-control col-sm-10"></input>
            
                <!-- 문장 추천 Button -->
                <span> 
                    <button type="button" id="recommendbutton" name="recommendbutton" style="float:right" class="btn btn-warning" onclick="sendSentence()">다음 문장 추천</button>
                </span>

                <!-- loading 위치 -->
                <div class="wrap-loading display-none">
                    <div><img src="{{ url_for('static', filename='profile_imgs/loading.gif')}}" /></div>
                </div>

                <!-- 문장 추천 결과-->
                <ul class="list-group" id="recommendResult" name="recommendResult">
                </ul>
            <br><br>
            <hr width = "100%" style="border: solid 2px"><br>
            
            <button type="button" id="displayCompany" name="displayCompany" style=" align-items: center;" class="btn btn-primary btn-lg" onclick="display()">회재 인재상 확인하기</button>
            <div id="showCompany" style="display:none">
                <!-- 해당 회사 자소서 보여주기-->
                <h1 align="center"> <strong>{{companyName}}의 주요 키워드</strong></h1><br>
                <hr width = "100%"><br>
                <div class="col-md-12">
                    <div style = "height:70% ; width:100% text-align:center;">
                        <img src="{{ url_for('static', filename='company_keywords/Pie/'+companyName+'_Pie.png')}}" width="100%", height="70%">
                    </div>
                    <div style = "height:100% ; width:100% text-align:center;">
                        <img src="{{ url_for('static', filename='company_keywords/Treemap/'+companyName+'_Treemap.png')}}"width="100%", height="70%">
                    </div>
                    <div style = "height:100% ; width:100% text-align:center;">
                        <img src="{{ url_for('static', filename='company_keywords/WordCloud/'+companyName+'_KeyWord.png')}}" width="100%", height="70%">
                    </div>
                    <br>
                </div>
            </div>
            <br><br><br>
        </div>
        <!--유사 단어-->
        <div class="col-md-2" style="margin-top: 350px; margin-bottom: 200px; ">
            <span><b>유사 단어 검색</b></span> 
            <div class="row">
                <span class=" col-sm-7">
                    <input type="text" id="searchWord" name="searchWord" style="display: inline-block" class="form-control" placeholder="단어" required autofocus> 
                </span>
                <span class="col">
                    <input id="searchButton" name="searchButton"  class="btn btn-secondary" type="submit" onclick="sendWord()" value=" 검  색 ">
                </span>
            </div>
            <br>
            <div id="wordResult" style="background-color:#FAFAD2; text-align:center; padding:10px; display:none; " >
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    function display(){
        if($('#showCompany').css('display') == 'none'){
        $('#showCompany').show();
        }else{
            $('#showCompany').hide();
        }
    }
</script>

<script>
    $('#noackwardbutton').click(function() {
        $("#result").hide();
        $("#awkresult").hide();
    })
    
    $('#ackwardbutton').click(function() {
        $("#result").show();
        $("#awkresult").show();
    })
</script>

<script type="text/javascript">
    function selectText() {
        var selectionText = "";
        if (document.getSelection) {
            selectionText = document.getSelection();
        } else if (document.selection) {
            selectionText = document.selection.createRange().text;
        }
        return selectionText;
    }
   
    document.onmouseup = function() {
        document.getElementById("DragTEXT").value = selectText();
    }
</script>

<script>
    function sendSentence(){ //문장 보내기 => 문장 추천
        var recommendText=$('#DragTEXT').val(); //입력문장

        var postdata = {
            'recommendText': recommendText
        }

        $.ajax({
            type: 'POST',
            url: '{{url_for("jasosul.jasoRecommend")}}',
            data: JSON.stringify(postdata),
            dataType : 'JSON',
            contentType: "application/json",
            success: function(data){
                var recommendResults = data.recommendResults;
                if ($('#recommendResult').length) {
                    $("#recommendResult").empty();
                }

                if ($('#recommendResult').length) {
                    $("#recommendResult").empty();
                }
                
                var resultString = "<br>";
                
                resultString += "<h5><strong>문장 추천 결과</strong></h5>"
                $.each(recommendResults, function(i){
                    resultString += '<li class="list-group-item">'+String(i+1)+". "+recommendResults[i]+'</li>'
                });

                $("#recommendResult").append(resultString);

            },
            beforeSend:function(){
                $('.wrap-loading').removeClass('display-none');
            },
            complete:function(){
                $('.wrap-loading').addClass('display-none');
            },
            error: function(request, status, error){
                alert('ajax 통신 실패')
                alert(error);
            }
        })
    }

    function sendContent(){ //문단 보내기 => 어색한 문장
        var content=$('#content').val(); //질문
        
        var postdata = {
            'AwkContent':content
        }
        $.ajax({
            type: 'POST',
            url: '{{url_for("jasosul.jasoAwkFind")}}',
            data: JSON.stringify(postdata),
            dataType : 'JSON',
            contentType: "application/json",
            success: function(data){
                var awkResults = data.awkResults;

                var resultString="<p>";
                $.each(awkResults, function(i){
                    if (awkResults[i][0] == 1) {//strong
                        resultString += "<mark style=\"background-color:#F6A9A9;\">"+awkResults[i][1]+"</mark>";
                    }
                    else if(awkResults[i][0] == 2){//weak
                        resultString += "<mark style=\"background-color:#FFE3E3;\">"+awkResults[i][1]+"</mark>";
                    }
                    else{
                        resultString +=awkResults[i][1]
                    }
                });
                resultString+="</p>";

                var blk=document.getElementById("result");
                blk.innerHTML=resultString;

            },
            error: function(request, status, error){
                alert('ajax 통신 실패')
                alert(error);
            }
        })
    }

    //중간 저장하기 + 최종 저장하기
    function saveSubContent(ClusterId){
        var question=$('#question').val(); //질문
        var content=$('#content').val(); //문장

        var postdata = {
            'ClusterId' : ClusterId,
            'question' : question,
            'content' : content
        }

        $.ajax({
            type: 'POST',
            url: '{{url_for("jasosul.jasoWrite")}}',
            data: JSON.stringify(postdata),
            dataType : 'JSON',
            contentType: "application/json",
            success: function(data){
                $('#question').val('');
                $('#content').val('');
                $('#DragTEXT').val('');
            },
            error: function(request, status, error){
                alert('ajax 통신 실패')
                alert(error);
            }
        })
    }
</script>

<script>
    function sendWord(){ //단어 보내기
        var recommendWord=$('#searchWord').val(); //입력단어

        var postdata = {
            'recommendWord': recommendWord
        }

        $.ajax({
            type: 'POST',
            url: '{{url_for("jasosul.WordRecommend")}}',
            data: JSON.stringify(postdata),
            dataType : 'JSON',
            contentType: "application/json",
            success: function(data){
                
                var wordList=data.wordReList;
                var wordString="<div style=\"text-align:center;\ color:grey;\">";
        
                for(var i=0;i<wordList.length;i++){
                    wordString+=wordList[i]+"<br>";
                }
                wordString+="</div>";

                var blk=document.getElementById("wordResult");
                blk.innerHTML=wordString;

            },
            error: function(request, status, error){
                alert('ajax 통신 실패')
                alert(error);
            }
        })
    }

    $('#searchButton').click(function() {
    $("#wordResult").show(); 
}) 
</script>
{% endblock %}